footer {
  padding: 24px 0 0;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: 0.42px;
  text-align: center;
  color: #aaa;
}
